@font-face {
    font-family: DMSerifDisplayRegular;
    src: url(./DMSerifDisplay-Regular-98c1cc2e.ttf);
}

@font-face {
    font-family: DMSerifDisplayItalic;
    src: url(./DMSerifDisplay-Italic-ae25248b.ttf);
}

body {
    margin: 0;
    font-family: DMSerifDisplayRegular;
}

h1 {
    font-size: 64px;
    font-family: DMSerifDisplayItalic;
    text-align: center;
}

button {
    border: 3px solid black;
    border-radius: 30px;
    padding: 10px 30px 10px 30px;
    background-color: white;
    font-family: DMSerifDisplayItalic;
    font-size: 24px;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.card {
    border: 3px solid black;
    border-radius: 30px;
    padding: 30px;
    background-color: white;
    font-family: DMSerifDisplayItalic;
    font-size: 24px;
    height: 200px;
    max-width: 300px;
    width: 100%;
    margin: auto;
}.bgcolor.svelte-weih42{background-image:linear-gradient(180deg, #ffe9e9 50%, #005c3b 50%);height:100%;width:100%;position:absolute}.bgimg.svelte-weih42{position:absolute;width:100%;height:50%;bottom:0;background-image:url('./terazzo-159bee97.svg')}.content.svelte-weih42{position:absolute;top:50%;left:50%;transform:translate(-50%, -50%)}