@font-face {
    font-family: DMSerifDisplayRegular;
    src: url(DMSerifDisplay-Regular.ttf);
}

@font-face {
    font-family: DMSerifDisplayItalic;
    src: url(DMSerifDisplay-Italic.ttf);
}

body {
    margin: 0;
    font-family: DMSerifDisplayRegular;
}

h1 {
    font-size: 64px;
    font-family: DMSerifDisplayItalic;
    text-align: center;
    margin: 1px;
}

p {
    text-align: center; 
    margin-top: 1px;
    margin-bottom: 40px;
}

button {
    border: 3px solid black;
    border-radius: 30px;
    padding: 10px 30px 10px 30px;
    background-color: white;
    font-family: DMSerifDisplayItalic;
    font-size: 24px;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    cursor: pointer;
}

.card {
    border: 3px solid black;
    border-radius: 30px;
    padding: 30px;
    background-color: white;
    box-shadow: -10px 10px 0px black;
    font-size: 24px;
    height: auto;
    max-width: 300px;
    margin: auto;
}